# This note book is for pandas
### 1st will be file reading

In [4]:
import pandas as pd

In [12]:
pd.Series([1,2,3,4,5],index=[11,12,13,14,15])

11    1
12    2
13    3
14    4
15    5
dtype: int64

In [46]:
olympic=pd.read_csv("D:/Desktop/Desktop_Important/ATI/olympics.csv",skiprows=4)

In [14]:
type(olympic)

pandas.core.frame.DataFrame

In [15]:
olympic.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [16]:
olympic.head(2)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver

In [57]:
olympic.columns.tolist()

['City',
 'Edition',
 'Sport',
 'Discipline',
 'Athlete',
 'NOC',
 'Gender',
 'Event',
 'Event_gender',
 'Medal']

In [17]:
olympic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29217 entries, 0 to 29216
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null float64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29215 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: float64(1), object(9)
memory usage: 2.2+ MB

In [18]:
olympic.shape

(29217, 10)

In [22]:
olympic.describe()

            Edition
count  29216.000000
mean    1967.713171
std       32.406293
min     1896.000000
25%     1948.000000
50%     1976.000000
75%     1996.000000
max     2008.000000

In [20]:
olympic["City"]

0    Athens
1    Athens
2    Athens
3       NaN
4    Athens
Name: City, dtype: object

In [21]:
olympic[["City","Edition"]]

          City  Edition
0       Athens   1896.0
1       Athens   1896.0
2       Athens   1896.0
3          NaN      NaN
4       Athens   1896.0
5       Athens   1896.0
6       Athens   1896.0
7       Athens   1896.0
8       Athens   1896.0
9       Athens   1896.0
10      Athens   1896.0
11      Athens   1896.0
12      Athens   1896.0
13      Athens   1896.0
14      Athens   1896.0
15      Athens   1896.0
16      Athens   1896.0
17      Athens   1896.0
18      Athens   1896.0
19      Athens   1896.0
20      Athens   1896.0
21      Athens   1896.0
22      Athens   1896.0
23      Athens   1896.0
24      Athens   1896.0
25      Athens   1896.0
26      Athens   1896.0
27      Athens   1896.0
28      Athens   1896.0
29      Athens   1896.0
...        ...      ...
29187  Beijing   2008.0
29188  Beijing   2008.0
29189  Beijing   2008.0
29190  Beijing   2008.0
29191  Beijing   2008.0
29192  Beijing   2008.0
29193  Beijing   2008.0
29194  Beijing   2008.0
29195  Beijing   2008.0
29196  Beijing   2008.0
29197  Beijing   2008.0
29198  Beijing   2008.0
29199  Beijing   2008.0
29200  Beijing   2008.0
29201  Beijing   2008.0
29202  Beijing   2008.0
29203  Beijing   2008.0
29204  Beijing   2008.0
29205  Beijing   2008.0
29206  Beijing   2008.0
29207  Beijing   2008.0
29208  Beijing   2008.0
29209  Beijing   2008.0
29210  Beijing   2008.0
29211  Beijing   2008.0
29212  Beijing   2008.0
29213  Beijing   2008.0
29214  Beijing   2008.0
29215  Beijing   2008.0
29216  Beijing   2008.0

[29217 rows x 2 columns]

In [23]:
olympic.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [24]:
olympic["Medal"].value_counts()

Gold      9850
Bronze    9688
Silver    9678
Name: Medal, dtype: int64

# Missing Value Treatment

In [36]:
olympic.isnull().sum()

City            1
Edition         1
Sport           1
Discipline      1
Athlete         2
NOC             1
Gender          1
Event           1
Event_gender    1
Medal           1
dtype: int64

In [38]:
olympic[olympic.isnull().any(axis=1)]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
olympic[olympic.isnull().all(axis=1)]

  City  Edition Sport Discipline Athlete  NOC Gender Event Event_gender Medal
3  NaN      NaN   NaN        NaN     NaN  NaN    NaN   NaN          NaN   NaN

In [42]:
olympic.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [44]:
olympic.dropna(axis=0,how="any",inplace=True)

In [60]:
olympic.dropna(axis=1,how="any",thresh=5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
5,Athens,1896.0,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
6,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
7,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
8,Athens,1896.0,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
9,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
10,Athens,1896.0,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
11,Athens,1896.0,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
12,Athens,1896.0,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
13,Athens,1896.0,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
14,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896.0,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
16,Athens,1896.0,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
17,Athens,1896.0,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
18,Athens,1896.0,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
19,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
20,Athens,1896.0,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
21,Athens,1896.0,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
22,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
23,Athens,1896.0,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
24,Athens,1896.0,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
25,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
26,Athens,1896.0,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
27,Athens,1896.0,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
28,Athens,1896.0,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896.0,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29187,Beijing,2008.0,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29188,Beijing,2008.0,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29189,Beijing,2008.0,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29190,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29191,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29192,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29193,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29194,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29196,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29197,Beijing,2008.0,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29198,Beijing,2008.0,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008.0,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29200,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29201,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29202,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29203,Beijing,2008.0,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29204,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29205,Beijing,2008.0,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29206,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29207,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29208,Beijing,2008.0,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29209,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29210,Beijing,2008.0,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29211,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29212,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29213,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29214,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29215,Beijing,2008.0,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29216,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [48]:
olympic["Edition"].fillna(olympic["Edition"].mean())

0        1896.000000
1        1896.000000
2        1896.000000
3        1967.713171
4        1896.000000
5        1896.000000
6        1896.000000
7        1896.000000
8        1896.000000
9        1896.000000
10       1896.000000
11       1896.000000
12       1896.000000
13       1896.000000
14       1896.000000
15       1896.000000
16       1896.000000
17       1896.000000
18       1896.000000
19       1896.000000
20       1896.000000
21       1896.000000
22       1896.000000
23       1896.000000
24       1896.000000
25       1896.000000
26       1896.000000
27       1896.000000
28       1896.000000
29       1896.000000
            ...
29187    2008.000000
29188    2008.000000
29189    2008.000000
29190    2008.000000
29191    2008.000000
29192    2008.000000
29193    2008.000000
29194    2008.000000
29195    2008.000000
29196    2008.000000
29197    2008.000000
29198    2008.000000
29199    2008.000000
29200    2008.000000
29201    2008.000000
29202    2008.000000
29203    2008.000000
29204    2008.000000
29205    2008.000000
29206    2008.000000
29207    2008.000000
29208    2008.000000
29209    2008.000000
29210    2008.000000
29211    2008.000000
29212    2008.000000
29213    2008.000000
29214    2008.000000
29215    2008.000000
29216    2008.000000
Name: Edition, Length: 29217, dtype: float64

In [51]:
olympic["City"].fillna("Paris").head()

0    Athens
1    Athens
2    Athens
3     Paris
4    Athens
Name: City, dtype: object

In [50]:
olympic.fillna({"City":"Paris","Edition":1982})

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,Paris,1982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
5,Athens,1896.0,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
6,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
7,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
8,Athens,1896.0,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
9,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
10,Athens,1896.0,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
11,Athens,1896.0,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
12,Athens,1896.0,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
13,Athens,1896.0,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
14,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896.0,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
16,Athens,1896.0,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
17,Athens,1896.0,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
18,Athens,1896.0,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
19,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
20,Athens,1896.0,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
21,Athens,1896.0,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
22,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
23,Athens,1896.0,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
24,Athens,1896.0,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
25,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
26,Athens,1896.0,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
27,Athens,1896.0,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
28,Athens,1896.0,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896.0,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29187,Beijing,2008.0,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29188,Beijing,2008.0,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29189,Beijing,2008.0,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29190,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29191,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29192,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29193,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29194,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29196,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29197,Beijing,2008.0,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29198,Beijing,2008.0,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008.0,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29200,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29201,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29202,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29203,Beijing,2008.0,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29204,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29205,Beijing,2008.0,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29206,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29207,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29208,Beijing,2008.0,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29209,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29210,Beijing,2008.0,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29211,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29212,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29213,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29214,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29215,Beijing,2008.0,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29216,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [53]:
olympic.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold

In [52]:
olympic[olympic["Edition"].isnull()]

  City  Edition Sport Discipline Athlete  NOC Gender Event Event_gender Medal
3  NaN      NaN   NaN        NaN     NaN  NaN    NaN   NaN          NaN   NaN

In [69]:
help(olympic.drop)

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index, columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).

        .. versionadded:: 0.21.0
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    dropped : pandas.DataFrame

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns
    Series.drop : Return Series with specified index labels removed.

    Raises
    ------
    KeyError
        If none of the labels are found in the selected axis

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3,4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                              [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3,0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [70]:
olympic.drop(["City"],axis=1)

,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,NewCol
0,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,None
1,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,None
2,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver,None
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,None
5,1896.0,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,None
6,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze,None
7,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold,None
8,1896.0,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver,None
9,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze,None
10,1896.0,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold,None
11,1896.0,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver,None
12,1896.0,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,None
13,1896.0,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,None
14,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,None
15,1896.0,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,None
16,1896.0,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold,None
17,1896.0,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver,None
18,1896.0,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze,None
19,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold,None
20,1896.0,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver,None
21,1896.0,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze,None
22,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold,None
23,1896.0,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver,None
24,1896.0,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze,None
25,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold,None
26,1896.0,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver,None
27,1896.0,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze,None
28,1896.0,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold,None
29,1896.0,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver,None
...,...,...,...,...,...,...,...,...,...,...
29187,2008.0,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze,None
29188,2008.0,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold,None
29189,2008.0,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver,None
29190,2008.0,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze,None
29191,2008.0,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze,None
29192,2008.0,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold,None
29193,2008.0,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver,None
29194,2008.0,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze,None
29195,2008.0,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze,None
29196,2008.0,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold,None
29197,2008.0,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver,None
29198,2008.0,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze,None
29199,2008.0,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze,None
29200,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold,None
29201,2008.0,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver,None
29202,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze,None
29203,2008.0,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze,None
29204,2008.0,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold,None
29205,2008.0,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver,None
29206,2008.0,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze,None
29207,2008.0,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold,None
29208,2008.0,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver,None
29209,2008.0,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze,None
29210,2008.0,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze,None
29211,2008.0,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold,None
29212,2008.0,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver,None
29213,2008.0,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze,None
29214,2008.0,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze,None
29215,2008.0,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold,None
29216,2008.0,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver,None

In [71]:
# get the index of dataframe
olympic.index

RangeIndex(start=0, stop=29217, step=1)

In [76]:
olympic.drop(["NewCol"],axis=1,inplace=True)

In [78]:
olympic[olympic.isnull().any(axis=1)].index

Int64Index([2, 3], dtype='int64')

In [80]:
olympic.drop(olympic[olympic["City"]=="Athens"].index,axis=0)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Paris,1900.0,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,1500m freestyle,M,Bronze
153,Paris,1900.0,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,1500m freestyle,M,Gold
154,Paris,1900.0,Aquatics,Swimming,"WAHLE, Otto",AUT,Men,1500m freestyle,M,Silver
155,Paris,1900.0,Aquatics,Swimming,"DROST, Johannes",NED,Men,200m backstroke,M,Bronze
156,Paris,1900.0,Aquatics,Swimming,"HOPPENBERG, Ernst",GER,Men,200m backstroke,M,Gold
157,Paris,1900.0,Aquatics,Swimming,"RUBERL, Karl",AUT,Men,200m backstroke,M,Silver
158,Paris,1900.0,Aquatics,Swimming,"RUBERL, Karl",AUT,Men,200m freestyle,M,Bronze
159,Paris,1900.0,Aquatics,Swimming,"LANE, Frederick C.V.",AUS,Men,200m freestyle,M,Gold
160,Paris,1900.0,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,200m freestyle,M,Silver
161,Paris,1900.0,Aquatics,Swimming,"KEMP, Peter",GBR,Men,200m obstacle event,M,Bronze
162,Paris,1900.0,Aquatics,Swimming,"LANE, Frederick C.V.",AUS,Men,200m obstacle event,M,Gold
163,Paris,1900.0,Aquatics,Swimming,"WAHLE, Otto",AUT,Men,200m obstacle event,M,Silver
164,Paris,1900.0,Aquatics,Swimming,HOUBEN,FRA,Men,200m team swimming,M,Bronze
165,Paris,1900.0,Aquatics,Swimming,"LEUILLIEUX, Jean",FRA,Men,200m team swimming,M,Bronze
166,Paris,1900.0,Aquatics,Swimming,"MARTIN, Louis",FRA,Men,200m team swimming,M,Bronze
167,Paris,1900.0,Aquatics,Swimming,"MERCHEZ, Désiré",FRA,Men,200m team swimming,M,Bronze
168,Paris,1900.0,Aquatics,Swimming,TARTARA,FRA,Men,200m team swimming,M,Bronze
169,Paris,1900.0,Aquatics,Swimming,"FREY, Julius",GER,Men,200m team swimming,M,Gold
170,Paris,1900.0,Aquatics,Swimming,"HAINLE, Max",GER,Men,200m team swimming,M,Gold
171,Paris,1900.0,Aquatics,Swimming,"HOPPENBERG, Ernst",GER,Men,200m team swimming,M,Gold
172,Paris,1900.0,Aquatics,Swimming,"SCHÖNE, Max",GER,Men,200m team swimming,M,Gold
173,Paris,1900.0,Aquatics,Swimming,"VON PETERSDORFF, Herbert",GER,Men,200m team swimming,M,Gold
174,Paris,1900.0,Aquatics,Swimming,BERTRAND,FRA,Men,200m team swimming,M,Silver
175,Paris,1900.0,Aquatics,Swimming,CADET,FRA,Men,200m team swimming,M,Silver
176,Paris,1900.0,Aquatics,Swimming,"HOCHEPIED, Maurice",FRA,Men,200m team swimming,M,Silver
177,Paris,1900.0,Aquatics,Swimming,"HOCHEPIED, Victor",FRA,Men,200m team swimming,M,Silver
178,Paris,1900.0,Aquatics,Swimming,VERBECKE,FRA,Men,200m team swimming,M,Silver
179,Paris,1900.0,Aquatics,Swimming,"MARTIN, Louis",FRA,Men,4000m freestyle,M,Bronze
180,Paris,1900.0,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,4000m freestyle,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29187,Beijing,2008.0,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29188,Beijing,2008.0,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29189,Beijing,2008.0,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29190,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29191,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29192,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29193,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29194,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29196,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29197,Beijing,2008.0,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29198,Beijing,2008.0,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008.0,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29200,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29201,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29202,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29203,Beijing,2008.0,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29204,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29205,Beijing,2008.0,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29206,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29207,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29208,Beijing,2008.0,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29209,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29210,Beijing,2008.0,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29211,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29212,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29213,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29214,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29215,Beijing,2008.0,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29216,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [27]:
olympic[olympic["City"]=="Athens"]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
5,Athens,1896.0,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
6,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
7,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
8,Athens,1896.0,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
9,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
10,Athens,1896.0,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
11,Athens,1896.0,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
12,Athens,1896.0,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
13,Athens,1896.0,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
14,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896.0,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
16,Athens,1896.0,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
17,Athens,1896.0,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
18,Athens,1896.0,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
19,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
20,Athens,1896.0,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
21,Athens,1896.0,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
22,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
23,Athens,1896.0,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
24,Athens,1896.0,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
25,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
26,Athens,1896.0,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
27,Athens,1896.0,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
28,Athens,1896.0,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896.0,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
30,Athens,1896.0,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27145,Athens,2004.0,Wrestling,Wrestling Free.,"SAZHIDOV, Sazhid",RUS,Men,74 - 84kg,M,Bronze
27146,Athens,2004.0,Wrestling,Wrestling Free.,"SANDERSON, Cael",USA,Men,74 - 84kg,M,Gold
27147,Athens,2004.0,Wrestling,Wrestling Free.,"MOON, Eui Jae",KOR,Men,74 - 84kg,M,Silver
27148,Athens,2004.0,Wrestling,Wrestling Free.,"HEIDARI, Alireza",IRI,Men,84 - 96kg,M,Bronze
27149,Athens,2004.0,Wrestling,Wrestling Free.,"GATSALOV, Khadjimourat",RUS,Men,84 - 96kg,M,Gold
27150,Athens,2004.0,Wrestling,Wrestling Free.,"IBRAGIMOV, Magomed",UZB,Men,84 - 96kg,M,Silver
27151,Athens,2004.0,Wrestling,Wrestling Free.,"POLATCI, Aydin",TUR,Men,96 - 120kg,M,Bronze
27152,Athens,2004.0,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
27153,Athens,2004.0,Wrestling,Wrestling Free.,"REZAEI, Alireza",IRI,Men,96 - 120kg,M,Silver
27154,Athens,2004.0,Wrestling,Wrestling Gre-R,"KIOUREGKIAN, Artiom",GRE,Men,- 55kg,M,Bronze
27155,Athens,2004.0,Wrestling,Wrestling Gre-R,"MAJOROS, Istvan",HUN,Men,- 55kg,M,Gold
27156,Athens,2004.0,Wrestling,Wrestling Gre-R,"MAMEDALIEV, Gueidar",RUS,Men,- 55kg,M,Silver
27157,Athens,2004.0,Wrestling,Wrestling Gre-R,"NAZARIAN, Armen",BUL,Men,55 - 60kg,M,Bronze
27158,Athens,2004.0,Wrestling,Wrestling Gre-R,"JUNG, Ji-Hyun",KOR,Men,55 - 60kg,M,Gold
27159,Athens,2004.0,Wrestling,Wrestling Gre-R,"MONZON, Roberto",CUB,Men,55 - 60kg,M,Silver
27160,Athens,2004.0,Wrestling,Wrestling Gre-R,"MANUKYAN, Mkkhitar",KAZ,Men,60 - 66kg,M,Bronze
27161,Athens,2004.0,Wrestling,Wrestling Gre-R,"MANSUROV, Farid",AZE,Men,60 - 66kg,M,Gold
27162,Athens,2004.0,Wrestling,Wrestling Gre-R,"EROGLU, Seref",TUR,Men,60 - 66kg,M,Silver
27163,Athens,2004.0,Wrestling,Wrestling Gre-R,"SAMURGASHEV, Varteres",RUS,Men,66 - 74kg,M,Bronze
27164,Athens,2004.0,Wrestling,Wrestling Gre-R,"DOKTURISHIVILI, Alexandr",UZB,Men,66 - 74kg,M,Gold
27165,Athens,2004.0,Wrestling,Wrestling Gre-R,"YLI-HANNUKSELA, Marko",FIN,Men,66 - 74kg,M,Silver
27166,Athens,2004.0,Wrestling,Wrestling Gre-R,"MAKARANKA, Viachaslau",BLR,Men,74 - 84kg,M,Bronze
27167,Athens,2004.0,Wrestling,Wrestling Gre-R,"MICHINE, Alexei",RUS,Men,74 - 84kg,M,Gold
27168,Athens,2004.0,Wrestling,Wrestling Gre-R,"ABRAHAMIAN, Ara",SWE,Men,74 - 84kg,M,Silver
27169,Athens,2004.0,Wrestling,Wrestling Gre-R,"OZAL, Mehmet",TUR,Men,84 - 96kg,M,Bronze
27170,Athens,2004.0,Wrestling,Wrestling Gre-R,"GABER IBRAHIM, Karam",EGY,Men,84 - 96kg,M,Gold
27171,Athens,2004.0,Wrestling,Wrestling Gre-R,"NOZADZE, Ramaz",GEO,Men,84 - 96kg,M,Silver
27172,Athens,2004.0,Wrestling,Wrestling Gre-R,"GARDNER, Rulon",USA,Men,96 - 120kg,M,Bronze
27173,Athens,2004.0,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Gold
27174,Athens,2004.0,Wrestling,Wrestling Gre-R,"TSURTSUMIA, Georgiy",KAZ,Men,96 - 120kg,M,Silver

In [28]:
olympic[(olympic["City"]=="Athens")&(olympic["Medal"]=="Gold")].shape

(723, 10)

In [30]:
olympic[(olympic["City"]=="Athens")|(olympic["Sport"]=="Aquatics")].shape

(5634, 10)

In [31]:
olympic[olympic["City"]!="Athens"].shape

(27068, 10)

In [58]:
olympic["NewCol"]=None

In [59]:
olympic.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,NewCol
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,None
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,None
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver,None
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,None

In [90]:
emp = pd.read_csv("D:/Desktop/Desktop_Important/ATI/employee.csv")

In [91]:
emp

   id     name   did
0   1  santosh  10.0
1   2    Manoj  20.0
2   3     Munu   NaN

In [92]:
dept = pd.read_csv("D:/Desktop/Desktop_Important/ATI/department.csv")

In [93]:
dept

   did      dname
0   10         IT
1   20        FIN
2   30      SALES
3   40  MARKETING

In [94]:
pd.merge(emp,dept,on="did",how='inner')

   id     name   did dname
0   1  santosh  10.0    IT
1   2    Manoj  20.0   FIN

In [95]:
pd.merge(emp,dept,on="did",how='left')

   id     name   did dname
0   1  santosh  10.0    IT
1   2    Manoj  20.0   FIN
2   3     Munu   NaN   NaN

In [97]:
pd.merge(emp,dept,on="did",how='right')

    id     name   did      dname
0  1.0  santosh  10.0         IT
1  2.0    Manoj  20.0        FIN
2  NaN      NaN  30.0      SALES
3  NaN      NaN  40.0  MARKETING

In [98]:
olympic1=olympic

In [100]:
type(olympic)

pandas.core.frame.DataFrame

In [101]:
type(olympic1)

pandas.core.frame.DataFrame

In [102]:
pd.concat([olympic,olympic1],axis=0)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896.0,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896.0,Aquatics,Swimming,NaN,AUT,Men,100m freestyle,M,Silver
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Athens,1896.0,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
5,Athens,1896.0,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
6,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
7,Athens,1896.0,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
8,Athens,1896.0,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
9,Athens,1896.0,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
10,Athens,1896.0,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
11,Athens,1896.0,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
12,Athens,1896.0,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
13,Athens,1896.0,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
14,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896.0,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
16,Athens,1896.0,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
17,Athens,1896.0,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
18,Athens,1896.0,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
19,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
20,Athens,1896.0,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
21,Athens,1896.0,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
22,Athens,1896.0,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
23,Athens,1896.0,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
24,Athens,1896.0,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
25,Athens,1896.0,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
26,Athens,1896.0,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
27,Athens,1896.0,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
28,Athens,1896.0,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896.0,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29187,Beijing,2008.0,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29188,Beijing,2008.0,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29189,Beijing,2008.0,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29190,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29191,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29192,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29193,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29194,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008.0,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29196,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29197,Beijing,2008.0,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29198,Beijing,2008.0,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008.0,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29200,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29201,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29202,Beijing,2008.0,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29203,Beijing,2008.0,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29204,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29205,Beijing,2008.0,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29206,Beijing,2008.0,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29207,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29208,Beijing,2008.0,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29209,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29210,Beijing,2008.0,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29211,Beijing,2008.0,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29212,Beijing,2008.0,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29213,Beijing,2008.0,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29214,Beijing,2008.0,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29215,Beijing,2008.0,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29216,Beijing,2008.0,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [104]:
olympic.groupby(["City"])["Medal"].count()

City
Amsterdam                 710
Antwerp                  1298
Athens                   2149
Atlanta                  1859
Barcelona                1705
Beijing                  2042
Berlin                    875
Helsinki                  889
London                   1618
Los Angeles              2074
Melbourne / Stockholm     885
Mexico                   1031
Montreal                 1305
Moscow                   1387
Munich                   1185
Paris                    1396
Rome                      882
Seoul                    1546
St Louis                  470
Stockholm                 885
Sydney                   2015
Tokyo                    1010
Name: Medal, dtype: int64

In [110]:
olympic.groupby(["City"]).agg({"Medal":["count"]})

                      Medal
                      count
City
Amsterdam               710
Antwerp                1298
Athens                 2149
Atlanta                1859
Barcelona              1705
Beijing                2042
Berlin                  875
Helsinki                889
London                 1618
Los Angeles            2074
Melbourne / Stockholm   885
Mexico                 1031
Montreal               1305
Moscow                 1387
Munich                 1185
Paris                  1396
Rome                    882
Seoul                  1546
St Louis                470
Stockholm               885
Sydney                 2015
Tokyo                  1010

In [112]:
olympic.groupby(["City","Sport"]).agg({"Medal":["count"]})

                            Medal
                            count
City      Sport
Amsterdam Aquatics             87
          Athletics           108
          Boxing               24
          Cycling              39
          Equestrian           37
          Fencing              47
          Football             66
          Gymnastics           78
          Hockey               59
          Modern Pentathlon     3
          Rowing               78
          Sailing              30
          Weightlifting        15
          Wrestling            39
Antwerp   Aquatics             87
          Archery              80
          Athletics           117
          Boxing               24
          Cycling              39
          Equestrian           42
          Fencing              76
          Football             46
          Gymnastics          202
          Hockey               42
          Ice Hockey           27
          Modern Pentathlon     3
          Polo                 14
          Rowing               60
          Rugby                33
          Sailing             102
...                           ...
Sydney    Rowing              144
          Sailing              54
          Shooting             51
          Softball             45
          Table Tennis         18
          Taekwondo            24
          Tennis               18
          Triathlon             6
          Volleyball           84
          Weightlifting        45
          Wrestling            48
Tokyo     Aquatics            145
          Athletics           135
          Basketball           36
          Boxing               40
          Canoe / Kayak        39
          Cycling              42
          Equestrian           36
          Fencing              71
          Football             50
          Gymnastics           73
          Hockey               45
          Judo                 16
          Modern Pentathlon    12
          Rowing               78
          Sailing              33
          Shooting             18
          Volleyball           72
          Weightlifting        21
          Wrestling            48

[465 rows x 1 columns]

In [113]:
olympic.City

0         Athens
1         Athens
2         Athens
3            NaN
4         Athens
5         Athens
6         Athens
7         Athens
8         Athens
9         Athens
10        Athens
11        Athens
12        Athens
13        Athens
14        Athens
15        Athens
16        Athens
17        Athens
18        Athens
19        Athens
20        Athens
21        Athens
22        Athens
23        Athens
24        Athens
25        Athens
26        Athens
27        Athens
28        Athens
29        Athens
          ...
29187    Beijing
29188    Beijing
29189    Beijing
29190    Beijing
29191    Beijing
29192    Beijing
29193    Beijing
29194    Beijing
29195    Beijing
29196    Beijing
29197    Beijing
29198    Beijing
29199    Beijing
29200    Beijing
29201    Beijing
29202    Beijing
29203    Beijing
29204    Beijing
29205    Beijing
29206    Beijing
29207    Beijing
29208    Beijing
29209    Beijing
29210    Beijing
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
29216    Beijing
Name: City, Length: 29217, dtype: object

In [117]:
olympic2=olympic.set_index("Athlete")

In [118]:
olympic2.columns

Index(['City', 'Edition', 'Sport', 'Discipline', 'NOC', 'Gender', 'Event',
       'Event_gender', 'Medal'],
      dtype='object')

In [120]:
olympic2.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896.0,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896.0,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
NaN,Athens,1896.0,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"MALOKINIS, Ioannis",Athens,1896.0,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold

In [121]:
olympic2.loc["HAJOS, Alfred"]

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896.0,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HAJOS, Alfred",Athens,1896.0,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold

In [124]:
olympic1.loc[[153,154]]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
153,Paris,1900.0,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,1500m freestyle,M,Gold
154,Paris,1900.0,Aquatics,Swimming,"WAHLE, Otto",AUT,Men,1500m freestyle,M,Silver

In [134]:
olympic.loc[1:5,"City":"Athlete"]

     City  Edition     Sport Discipline             Athlete
1  Athens   1896.0  Aquatics   Swimming    HERSCHMANN, Otto
2  Athens   1896.0  Aquatics   Swimming                 NaN
3     NaN      NaN       NaN        NaN                 NaN
4  Athens   1896.0  Aquatics   Swimming  MALOKINIS, Ioannis
5  Athens   1896.0  Aquatics   Swimming  CHASAPIS, Spiridon

In [135]:
olympic.iloc[0:5,0:2]

     City  Edition
0  Athens   1896.0
1  Athens   1896.0
2  Athens   1896.0
3     NaN      NaN
4  Athens   1896.0

In [136]:
data = pd.read_csv("D:/Desktop/Desktop_Important/ATI/CityTaxi/test.csv")

In [137]:
data.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [141]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 7 columns):
key                  9914 non-null object
pickup_datetime      9914 non-null datetime64[ns]
pickup_longitude     9914 non-null float64
pickup_latitude      9914 non-null float64
dropoff_longitude    9914 non-null float64
dropoff_latitude     9914 non-null float64
passenger_count      9914 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 542.2+ KB

In [140]:
data["pickup_datetime"] = pd.to_datetime(data["pickup_datetime"])

In [148]:
data["pickup_datetime"].dt.year

0       2015
1       2015
2       2011
3       2012
4       2012
5       2012
6       2011
7       2011
8       2011
9       2014
10      2014
11      2014
12      2010
13      2010
14      2011
15      2011
16      2012
17      2012
18      2012
19      2012
20      2014
21      2014
22      2014
23      2014
24      2014
25      2014
26      2014
27      2014
28      2014
29      2014
        ...
9884    2013
9885    2013
9886    2013
9887    2013
9888    2013
9889    2013
9890    2013
9891    2013
9892    2013
9893    2013
9894    2013
9895    2013
9896    2013
9897    2015
9898    2015
9899    2015
9900    2015
9901    2015
9902    2015
9903    2015
9904    2015
9905    2015
9906    2015
9907    2015
9908    2015
9909    2015
9910    2015
9911    2015
9912    2015
9913    2015
Name: pickup_datetime, Length: 9914, dtype: int64

In [144]:
a='2019/10/01'

In [145]:
a

'2019/10/01'

In [147]:
print(pd.to_datetime(a))

2019-10-01 00:00:00

In [9]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser